.glishword.blurtext {
    color:transparent;
    text-shadow:0 0 8px rgba(0,0,0,1);
}
.glishtextarea {
    border: 1px lightskyblue dotted;
}
.glishtextarea:focus {
    outline: 2px lightskyblue dotted;
}
.glishmsg {
    color:#BA0000;
    font-size:small;
    font-family:sans-serif;
    text-align:center;
    display:inline-block;
    cursor:pointer;
    border:0;
    padding:9px;
    outline:none;
}

#glishdlg:not([open]) {
    display: none !important;
}

.glishdialog { width:65%;
    height:65%;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    background-color: whitesmoke;
    text-align: center;
}

#glishdlg iframe {
    background: #fafafa;
    width:100%;
    height:100%;
    padding: 5px;
}

#glishdlg iframe::selection {
    background-color: transparent;
    color: #000;
}

